# Virtual environments
venv/
ENV/
env/
tm_py311/
TM_env/
.venv/
topicmodel_env/ 

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Torch large binaries (if any slipped in)
*.pt
*.pth

#large folders 
pdfs/ 
pdfstoedit/
grayscale_images/ 
converted_images/ 


